
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: "SuisseIntl";
    /* Add other variables as needed */
  }
  
  body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box
  }
  @font-face {
    font-family: "SuisseIntl";
    src: url("../assets/fonts/SuisseIntl.ttf");
  }
  @media (max-width: 1440px) {
    /* Styles for desktop */
  }
  
  @media (max-width: 768px) {
    /* Styles for tablet */
  }
  
  @media (max-width: 375px) {
    /* Styles for mobile */
  }
  